/*Верхняя строка(Главная, корзина, войти)*/
#Upheader{ 
  background-color: #1e1d1d;
  height: 60px;
  border: 1px solid rgb(214, 212, 212);
  width: 1500px;
  display: flex;
  justify-content: flex-end;
}
#image-button1{
  width: 82px;
  height: 58px;
  border: none;
  background-image: url('corsina.png');
  background-size: cover;
}
#image-button2{
    width: 82px;
    height: 58px;
    border: none;
    background-image: url('login.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 45px;
  }
#To_first{
    color: rgb(214, 212, 212);
    margin-right: 1100px;
    margin-top: 20px;
}
#To_first:hover{
  color: rgb(95, 97, 229);
  margin-right: 1100px;
  margin-top: 20px;
}
/*Верхняя строка(Картинка + логотип)*/
#header{ 
  background-color: #1e1d1d;
  background-image: url("art1header.jpg");
  height: 124px;
  border: 1px solid rgb(214, 212, 212);
}
#logo_pos{
  margin-left: 120px;
  mix-blend-mode: luminosity;
  animation-duration: 10s;
  animation-name: changable;
  -moz-animation-iteration-count: infinite;
}
@keyframes changable{
  from {
    mix-blend-mode: luminosity;
  }
  to {
    mix-blend-mode: screen;
  }
}
.image-button:hover {
  opacity: 0.8;
}
.image-button:active {
  transform: scale(0.95);
}
.image-button{
  animation-duration: 3s;
  animation-name: appear;
  -moz-animation-iteration-count: 1;
}
@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}
/*Подвал*/
#footer{ 
    background-color: #1e1d1d;
    margin-left: 0px;
    height: 400px;
    border: 1px solid rgb(214, 212, 212);
    display: flex;
    width: 1500px;
    justify-content: center;
    background-image: url("art1header.jpg");
    background-blend-mode: multiply; 
}
#footer_element{
    padding-left: 120px;
    padding-right: 120px;
    color: rgb(214, 212, 212);
}
a{
    color: rgb(214, 212, 212);
}

  