/*Верхняя строка(Главная, корзина, войти)*/
#Upheader{ 
  background-color: #1e1d1d;
  height: 60px;
  border: 1px solid rgb(214, 212, 212);
  width: 1500px;
  display: flex;
  justify-content: flex-end;
}
#image-button1{
  width: 82px;
  height: 58px;
  border: none;
  background-image: url('corsina.png');
  background-size: cover;
}
#image-button2{
    width: 82px;
    height: 58px;
    border: none;
    background-image: url('login.png');
    background-size: cover;
    margin-left: 10px;
    margin-right: 45px;
  }
#To_first{
    color: rgb(214, 212, 212);
    margin-right: 1100px;
    margin-top: 20px;
}

/*Верхняя строка(Картинка + логотип)*/
#header{ 
  background-color: #1e1d1d;
  background-image: url("art1header.jpg");
  height: 124px;
  border: 1px solid rgb(214, 212, 212);
}
#logo_pos{
  margin-left: 120px;
}

/*Центр*/
#card-image{
    float: left;
    width: 553px;
    height: 610px;
    border: 1px solid rgb(7, 7, 7);
    margin-top: 100px;
    margin-left: 100px;
    background-image: url("b1.png");
}
#main{
    background-color: #1e1d1d;
    background-image: url("art1header.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    border: 1px solid rgb(214, 212, 212);
    width: 1500px;
    height: 832px;
    margin-top: 0px;
}
body {
  background-color: #1E1D1D;
}
#catalog{
    margin-top: 100px;
    margin-left: 800px;
    color: rgb(214, 212, 212);
}
label{
  color: rgb(214, 212, 212);
}
#image-button3{
    width: 279px;
    height: 56px;
    border: none;
    background-image: url('in_store.png');
    background-size: cover;
    margin-top: 80px;
    margin-left: 150px;
  }
.image-button:hover {
    opacity: 0.8;
  }
.image-button:active {
    transform: scale(0.95);
  }
table{
  color:  rgb(214, 212, 212);
  background-color: #2d2b2b;
  background-blend-mode: screen;
  margin-top: 20px;
  margin-left: 800px;
  margin-bottom: 20px;
  border: 1px solid #777676;
  border-collapse: collapse;
  width: 524px;
  height: 314px;
}
th,td{
  border: 1px solid #777676;
}
#lab_price{
  margin-left: 150px;
  font-size: 16px;
}
#to_previus{
 margin-left: 150px;
}

/*Подвал*/
#footer{ 
  background-color: #1e1d1d;
  margin-left: 0px;
  height: 400px;
  border: 1px solid rgb(214, 212, 212);
  border-top: 50px solid #372929;
  display: flex;
  width: 1500px;
  justify-content: center;
  background-image: url("art1header.jpg");
  background-blend-mode: multiply;
  
}
#footer_element{
  padding-left: 120px;
  padding-right: 120px;
  color: rgb(214, 212, 212);
}
a{
  color: rgb(214, 212, 212);
}