
/*Центр*/
#main{
    background-color: #1e1d1d;
    background-image: url("art1header.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    border: 1px solid rgb(214, 212, 212);
    width: 1500px;
    height: 832px;
    margin-top: 0px;
}
body {
    background-color: #1E1D1D;
    }
#in1{
      margin-top: 100px;
      margin-left: 88px;
    }
#in2{
      margin-top: 50px;
      margin-left: 80px;
    }
#lab1{
      margin-top: 100px;
      margin-left: 408px;
    }
#lab2{
      margin-top: 50px;
      margin-left: 400px;
    }
#catalog{
        margin-top: 150px;
        margin-left: 675px;
        color: rgb(214, 212, 212);
    }
#image-button3{
      width: 212px;
      height: 43px;
      border: none;
      background-image: url('log.png');
      background-size: cover;
      margin-top: 100px;
      margin-left: 600px;
    }
.image-button:hover {
      opacity: 0.8;
    }
.image-button:active {
      transform: scale(0.95);
    }
  
label{
      color: rgb(214, 212, 212);
  }

  