

/*Центр*/
#card-image{
    float: left;
    width: 553px;
    height: 610px;
    border: 1px solid rgb(7, 7, 7);
    margin-top: 100px;
    margin-left: 100px;
    background-image: url("b1.png");
}
#main{
    background-color: #1e1d1d;
    background-image: url("art1header.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    border: 1px solid rgb(214, 212, 212);
    width: 1500px;
    height: 832px;
    margin-top: 0px;
}
body {
  background-color: #1E1D1D;
}
#catalog{
    margin-top: 100px;
    margin-left: 800px;
    color: rgb(214, 212, 212);
}
label{
  color: rgb(214, 212, 212);
}
#image-button3{
    width: 279px;
    height: 56px;
    border: none;
    background-image: url('in_store.png');
    background-size: cover;
    margin-top: 80px;
    margin-left: 150px;
  }
.image-button:hover {
    opacity: 0.8;
  }
.image-button:active {
    transform: scale(0.95);
  }
table{
  color:  rgb(214, 212, 212);
  background-color: #2d2b2b;
  background-blend-mode: screen;
  margin-top: 20px;
  margin-left: 800px;
  margin-bottom: 20px;
  border: 1px solid #777676;
  border-collapse: collapse;
  width: 524px;
  height: 314px;
}
th,td{
  border: 1px solid #777676;
}
#lab_price{
  margin-left: 150px;
  font-size: 16px;
}
#to_previus{
 margin-left: 150px;
}